/* Estilo general del body */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://res.cloudinary.com/dksv7n9bg/image/upload/v1736234730/uphfdgbsvau5s9j6ox3o.webp');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Contenedor principal */
.container {
    backdrop-filter: brightness(0.5);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.288);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 0% 8% 0% 0%;
}

/* Tarjeta de registro */
.register-card h2 {
    margin: 0;
    color: #28a745;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4%;
}

.register-card p {
    margin: 10px 0 20px;
    font-size: 16px;
    color: white;
}

/* Estilo para los campos de entrada */
input {
    border: 2px solid transparent;
    width: 24rem;
    height: 2.5rem;
    padding-left: 0.8rem;
    outline: none;
    overflow: hidden;
    background-color: #e0dfdf;
    border-radius: 10px;
    transition: all 0.5s;
    margin: 0% 0% 3% 0%;
}
  
input:hover,
input:focus {
    border: 2px solid #28a745;
    box-shadow: 0px 0px 0px 7px rgba(74, 236, 74, 0.781);
    background-color: white;
}  

/* Estilo para el botón */
button {
    width: 100%;
    padding: 12px;
    background: #28a745;
    color: white;
    border-color: #28a745;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background: #28a745;
    color: white;
    border-color: #28a745;
    transition: 0.4s;
}

/* Links adicionales */
.extra-links {
    margin-top: 20px;
}

.extra-links a {
    display: block;
    color: #007BFF;
    text-decoration: none;
    margin: 5px 0;
    font-size: 14px;
}

.extra-links a:hover {
    text-decoration: underline;
}
